<div class="dashboard-header-outer-cnt">
    <div class="dashboard-header-inner-cnt">
        <div style="display: flex; width: 60%;">
            <div style="display: flex; width: 202px; padding-right: 30px;">
                <button mat-icon-button (click)="toggleSideNavbar()">
                    <mat-icon svgIcon="menu-icon" aria-hidden="false" aria-label="Menu icon SVG icon"></mat-icon>
                </button>
                <div class="logo-title-cnt">
                    <img src="https://img.icons8.com/stickers/100/google-keep.png" alt="fundoo" />
                    <span>Fundo</span>
                </div>
            </div>
            <mat-form-field appearance="outline">
                <mat-icon matPrefix svgIcon="search-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
                <input matInput placeholder="Search">
            </mat-form-field>
        </div>
        <div style="display: flex; width: 40%; justify-content: flex-end;">
            <button mat-icon-button>
                <mat-icon svgIcon="refresh-icon" aria-hidden="false" aria-label="Refresh SVG icon"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon svgIcon="list-view-icon" aria-hidden="false" aria-label="List view SVG icon"></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon svgIcon="setting-icon" aria-hidden="false" aria-label="Setting SVG icon"></mat-icon>
            </button>
            <div class="menu-avatar-cnt">
                <button mat-icon-button>
                    <mat-icon svgIcon="other-menu-icon" aria-hidden="false" aria-label="Menu SVG icon"></mat-icon>
                </button>
                <div class="user-avatar">
                    <span>A</span>
                </div>
            </div>
        </div>
    </div>
</div>