.add-note-outer-cnt {
    display: flex;
    width: 600px;
    height: 46px;
    border: 1px solid #DADCE0;
    background-color: #fff;
    border-radius: 8px;
}
.add-note-inner-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 16px;

    input {
        border: none;
        font-size: 16px;
        font-weight: 500;

        &:focus {
            outline: none;
        }
    }
}
.add-note-main-cnt {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid #DADCE0;
    background-color: #fff;
    border-radius: 8px;
}
.add-note-footer-cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 0px;

    div {
        display: flex;
    }
}
