.side-nav-bar-outer-cnt {
    height: 100%;
}
.side-nav-drawer-cnt {
    width: 280px;
    padding-top: 12px;
    div {
        display: flex;
        height: 48px;
        align-items: center;
        padding-left: 12px;

        span {
            font-size: 14px;
            font-weight: 500;
            margin-left: 20px;
        }
        &:hover {
            cursor: pointer;
            background-color: #EFEFF1;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
    }
}
.active-drawer-item {
    background-color: #FEEFC3;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    &:hover {
        background-color: #FEEFC3 !important;   
    }
}
.icon-cnt {
    height: 24px;
    padding: 0px 12px;
}
.drawer-content-cnt {
    display: flex;
    height: 100%;
    background-color: #fff;
}
.side-navbar-cnt {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
    }
}
.router-outlet-cnt {
    width: 100%;
    display: flex;
    justify-content: center;
}
.active-icon-cnt {
    background-color: #FEEFC3;
    border-radius: 200px;
}