<mat-drawer-container class="side-nav-bar-outer-cnt" hasBackdrop="false">
    <mat-drawer class="side-nav-drawer-cnt" mode="over" [opened]="showSideNavbar">
        <div>
            <mat-icon svgIcon="note-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <span>Note</span>
        </div>
        <div>
            <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="Reminder SVG icon"></mat-icon>
            <span>Reminder</span>
        </div>
        <div>
            <mat-icon svgIcon="edit-icon" aria-hidden="false" aria-label="Edit SVG icon"></mat-icon>
            <span>Edit Label</span>
        </div>
        <div>
            <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="Archive SVG icon"></mat-icon>
            <span>Archive</span>
        </div>
        <div>
            <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="Trash SVG icon"></mat-icon>
            <span>Trash</span>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="drawer-content-cnt">
            <div class="side-navbar-cnt">
                <div>
                    <button mat-icon-button>
                        <mat-icon svgIcon="note-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button>
                        <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="Reminder SVG icon"></mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button>
                        <mat-icon svgIcon="edit-icon" aria-hidden="false" aria-label="Edit SVG icon"></mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button>
                        <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="Archive SVG icon"></mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button>
                        <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="Trash SVG icon"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="router-outlet-cnt">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>