<div *ngFor="let noteDetails of notesList" class="note-card-cnt">
    <span class="note-title" (click)="openDialog(noteDetails)">
        {{noteDetails.title}}
    </span>
    <span class="note-description" (click)="openDialog(noteDetails)">
        {{noteDetails.description}}
    </span>
    <div class="note-card-footer">
        <app-note-footer-icons [enableStyle]="applyStyle" [noteDetails]="noteDetails" (handleNotesOperations)="handleNotesOperation($event)"></app-note-footer-icons>
    </div>
</div>