::ng-deep .app-notes-cnt {
    width: 100%;
}
.create-outer-cnt {
    display: flex;
    width: 100%;
}
.create-note-cnt {
    display: flex;
    margin: 32px auto 16px auto;
    justify-content: center;
}
.display-note-cnt {
    display: flex;
    flex-direction: row;
    margin: 40px 120px;
    width: 100%;
}
.display-note-outer-cnt {
    display: flex;
    width: 100%;
}