<div class="login-outer-cnt">
<div class="login-main-cnt">
    <div class="title-text-cnt">
        <span class="title-text" style="color: #FBBC04;">Fundo</span>
        <span class="title-text">Sign in</span>
        <span class="sub-text">Use your Fundo Account</span>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Email or phone</mat-label>
        <input matInput placeholder="Email or phone">
    </mat-form-field>
    <div class="login-pass-cnt">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter password">
        </mat-form-field>
        <button class="forgot-pass-btn" mat-button color="primary">Forgot password</button>    
    </div>
    <div class="login-btn-cnt">
        <button mat-button color="primary">Create account</button>
        <button mat-raised-button color="primary">Login</button>
    </div>
</div>
</div>