.login-outer-cnt {
    display: flex;
    width: 100%;
    height: 100%;    
}
.login-main-cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 400px;
    border: #A9ACAA 1px solid;
    border-radius: 8px;
    padding: 40px;
    margin: auto;
}
.login-pass-cnt {
    display: flex;
    flex-direction: column;
}
.title-text-cnt {
    display: flex;
    height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title-text{
    font-size: 40px;
}
.sub-text{
    font-size: 24px;
}
.forgot-pass-btn {
    width: fit-content;
}
.login-btn-cnt {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

