<div>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    </button>
</div>