.signup-outer-cnt {
    display: flex;
    width: 100%;
    height: 100%;
}
.signup-main-cnt {
    width: 50%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: #A9ACAA 1px solid;
    border-radius: 8px;
    padding: 50px
}
.signup-form-cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
}
.signup-title-cnt {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-evenly;   
}
.signup-title {
    font-size: 30px;
    color: #FBBC04;
    font-weight: 500;
}
.signup-sub-title {
    font-size: 26px;
    font-weight: 400;
}
.signup-input-cnt {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.details-input-cnt {
    width: 100%;
    display: flex;
    gap: 30px;
    
    span {
        font-size: 16px;
        font-weight: 400;
    }
}
.details-input {
    width: 100%;
}
.input-hint {
    font-size: 15px;
    padding: 0px;
}
.signup-password-cnt {
    display: flex;
    flex-direction: column;
}
.signup-btn-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}
.signup-img-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    
    span {
        font-size: 24px;
        text-align: center;
    }
}
