<div class="signup-outer-cnt">
    <div class="signup-main-cnt">
        <form [formGroup]="registerForm" (ngSubmit)="handleSignUp()" class="signup-form-cnt">
            <div class="signup-title-cnt">
                <span class="signup-title">Fundo</span>
                <span class="signup-sub-title">Create your Fundo Account</span>
            </div>
            <div class="signup-input-cnt">
                <div class="details-input-cnt">
                    <mat-form-field appearance="outline" class="details-input">
                        <mat-label>First Name</mat-label>
                        <input formControlName="fName" matInput placeholder="First Name">
                        <mat-error *ngIf="fName?.errors?.['required']">First Name is required</mat-error>
                        <mat-error *ngIf="fName?.errors?.['pattern']">Enter a valid name</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="details-input">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="lName" matInput placeholder="Last Name">
                        <mat-error *ngIf="lName?.errors?.['required']">Last Name is required</mat-error>
                        <mat-error *ngIf="lName?.errors?.['pattern']">Enter a valid name</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="details-input">
                        <mat-label>Username</mat-label>
                        <input formControlName="userName" matInput>
                        <mat-error *ngIf="userName?.errors?.['required']">Username is required</mat-error>
                        <mat-error *ngIf="userName?.errors?.['email']">Enter a valid mail</mat-error>
                        <mat-hint class="input-hint">You can use letters, numbers & periods</mat-hint>
                    </mat-form-field>
                </div>
                <div class="signup-password-cnt">
                    <div class="details-input-cnt">
                        <mat-form-field appearance="outline" class="details-input">
                            <mat-label>Password</mat-label>
                            <input formControlName="newPassword" matInput placeholder="Password">
                            <mat-error *ngIf="newPassword?.errors?.['required']">Password is required</mat-error>
                            <mat-error *ngIf="newPassword?.errors?.['required']">Password must be at least 6 characters</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="details-input">
                            <mat-label>Confirm</mat-label>
                            <input formControlName="confirmPassword" matInput placeholder="Confirm">
                            <mat-error *ngIf="confirmPassword?.errors?.['required']">Confirm Password is required</mat-error>
                        </mat-form-field>
                        <!-- 
                        <div>    
                        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon svgIcon="hide-pass" aria-hidden="false"
                                aria-label="Example thumbs up SVG icon"></mat-icon>
                        </button>
                        </div>
                        -->
                    </div>
                    <span>Use 8 or more characters with a mix of letters, numbers & symbols</span>
                </div>
            </div>
            <div class="signup-btn-cnt">
                <button mat-button color="primary" routerLink="/login">Sign in instead</button>
                <button mat-raised-button color="primary">Next</button>
            </div>
        </form>
        <div class="signup-img-cnt">
            <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="logo" />
            <span>One account. All of Fundo working for you.</span>
        </div>
    </div>
</div>