.signup-outer-cnt {
    display: flex;
    width: 100%;
    height: 100%;
}
.signup-sub-outer-cnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.signup-main-cnt {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: #A9ACAA 1px solid;
    border-radius: 8px;
    padding: 60px 50px
}
.signup-form-cnt {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.signup-title-cnt {
    display: flex;
    flex-direction: column;
}
.signup-title {
    font-size: 30px;
    color: #FBBC04;
    font-weight: 500;
    padding-bottom: 15px;
}
.signup-sub-title {
    font-size: 26px;
    font-weight: 400;
    padding-top: 15px;
    line-height: initial;
}
.signup-input-cnt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0px;
}
.details-input-cnt {
    width: 100%;
    display: flex;
    gap: 30px;
}
.details-input {
    width: 100%;
}
.input-hint {
    font-size: 15px;
    padding: 0px;
}
.signup-password-cnt {
    display: flex;
    flex-direction: column;
}
.hint {
    margin-top: 8px;
}
.signup-btn-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.signup-img-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    
    span {
        font-size: 24px;
        text-align: center;
    }
}
.mat-mdc-form-field-hint-wrapper {
    width: 400px;
}
.mat-mdc-form-field-hint.mat-mdc-form-field-bottom-align {
    font-size: 14px;
    width: 400px;
}
.mat-mdc-form-field-hint {
    margin-top: 11px;
}
.signup-footer-cnt {
    display: flex;
    width: calc(45% + 100px);
    padding: 24px 4px;
    align-content: center;
    justify-content: space-between;
}